body {
    overflow: hidden;
}
/*scrollbar*/
#ascrail2000 {
    top: 30px !important;
}
/*Base*/
/*HEADER*/
#wrapper_header, #wrapper_footer {
    width: 100%;
    height: 30px;
    background: #000000;
    z-index: 2;
}
#wrapper_header {
    position: fixed;
    top: 0;
    z-index: 9;
}
#wrapper_footer {
    position: relative;
    bottom: 0;
}
#header, #footer {
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    color: #FFFFFF;
}
#header a, #footer a {
    text-decoration: none;
    font: 12px Helvetica;
    color: #FFFFFF;
}
#wrapper_logo_header {
    float: left;
    padding: 4px;
    margin-left: 10px;
}
#wrapper_menu {
    float: right;
}
#wrapper_menu ul {
    height: 30px;
}
#wrapper_menu ul li {
    height: 18px;
    float: left;
}
#wrapper_menu ul li:last-child {
    padding: 6px 0 6px 20px !important;
}
#wrapper_menu ul li a{
    height: 18px;
    display: block;
    padding: 8px 20px 4px;
}
#wrapper_menu ul li a:hover{
    background-color: #f14946;
}
.menu_login{
	cursor: pointer;
}
#wrapper_search {
    margin-top: -2px;
}
#search {
    width: 145px;
    padding-left: 2px;
    font: 12px Helvetica;
    border: dashed 0px #000000;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #666666;
}
/*WRAPPER*/
#wrapper {
    width: 1000px;
    margin: 30px auto 0;
    overflow: hidden;
}
