/*scrollbar*/
#ascrail2000 {
    top: 30px !important;
}
/*Wrapper*//*Menu*/
#wrapper_left_menu {
    width: 160px;
    float: left;
    font-family: Helvetica;
    font-size: 12px;
}
#left_menu {
    padding: 15px;
}
#left_menu ul ul li {
    padding: 2px 5px;
}
.title_left_menu {
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 3px;
    border-bottom: 2px solid #3f3f3f;
}
.subtitle_left_menu {
    padding: 10px 0;
    font-size: 13px;
    font-weight: bolder;
}
/*Checkbox style*/
.wrapper_checkbox {
    width: 7px;
    height: 7px;
    display: inline-block;
    padding: 1px;
    background: #FFFFFF;
    border: solid 1px #000000;
}
.wrapper_checkbox div {
    width: 5px;
    height: 5px;
    margin: 1px 1px;
}
.checkbox_checked {
    background: #000000;
}
.wrapper_checkbox input {
    position: absolute;
    margin: -4px;
    opacity: 0;
}
/*Container*/
#wrapper_container {
    width: 680px;
    float: left;
    margin-bottom: 20px;
}
#wrapper_container .wrapper_gallery:last-child{
    margin:0 !important;
}
.wrapper_gallery {
    width: 220px;
    height: 100%;
    float: left;
    margin: 0 10px 0 0;
}
.wrapper_publications {
    width: 100%;
    margin: 10px 0 0 0;
    cursor: pointer !important;
}
.image_publication {
    width: 100%;
}
.black_div_publication {
    position: relative;
    top: 0px;
    background: #000000;
    opacity: 0;
    z-index: 1;
}
.description_publication {
    position: relative;
    padding: 10px 5px;
    font-family: Helvetica;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0;
    z-index: 2;
}
.title_publication {
    font-size: 16px;
    font-weight: bolder;
    border-bottom: solid 1px #FFFFFF;
    padding-bottom: 5px;
}
.wrapper_content_publication {
    padding-top: 5px;
}
.content_publication {
    width: 100%;
    font-family: Helvetica;
    font-size: 12px;
    color: #FFFFFF;
    background: none;
    resize: none;
    border: none;
    overflow-x: hidden;
    max-height: 50px;
}
.date_publication {
    float: right;
    font-family: Helvetica;
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 10px;
}
.counter_looks_publication {
    width: 60px;
    height: 20px;
    position: absolute;
    font-family: Helvetica;
    font-size: 10px;
    color: #FFFFFF;
    bottom: 30px;
    right: 5px;
    background: url('/images/look.png') no-repeat left;
    text-align: right;
}
.counter_looks_publication img {
    margin-right: 10px;
}
#wrapper_advertising {
    width: 150px;
    position: fixed;
    top: 30px;
    z-index: -1;
    margin-left: 850px;
}
#advertising {
    width: 100%;
    margin: 10px 0 0 0;
}
.image_publication img, #advertising img {
    width: 100%;
}
.list_checkbox_filtred input{
	cursor: pointer;
}
