body {
	max-width: 2000px;
	min-width: 827px;
	overflow: hidden;
}
/*Scrollbar*/
#ascrail2000 {
	left: 0 !important;
}
/*Base*/
/*HEADER*/
#wrapper_header, #wrapper_footer {
	width: 100%;
	height: 30px;
	background: #000000;
}
#wrapper_footer {
	position: relative;
	bottom: 0;
}
#header, #footer {
	height: 100%;
	min-width: 700px;
}
#header a, #footer a {
	text-decoration: none;
	font: 12px Helvetica;
	color: #FFFFFF;
}
#wrapper_logo_header {
	float: left;
	padding: 4px;
	margin-left: 10px;
}
#wrapper_menu {
	float: right;
}
#wrapper_menu ul {
	height: 30px;
}
#wrapper_menu ul li {
	height: 18px;
	float: left;
	padding: 6px 20px;
}
#wrapper_search {
	margin-top: -2px;
}
#search {
	width: 145px;
	padding-left: 2px;
	font: 12px Helvetica;
	border: dashed 0px #000000;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	color: #666666;
}
/*contenido*/
#wrapper {
	width: 100%;
	background: url('/images/background.jpg') no-repeat;
	background-size: 100%;
	background-position: right;
	min-width: 700px;
	min-height: 350px;
}
#video {
	position: absolute;
	top: 0px;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}
/*barra de publicaciones en blog*/
#wrapper_publications_and_arrow {
	width: 275px;
	position: absolute;
}
#wrapper_all_publications {
	width: 260px;
	height: 100%;
	min-height: 350px;
	float: left;
	margin: 0;
	overflow: hidden;
}
.wrapper_publication {
	width: 100%;
	height: 182px;
	font-family: Helvetica;
}
.header_publication {
	width: 100%;
	height: 27px;
	background: #FFFFFF;
}
.title_header_publication {
	width: 100%;
	height: 100%;
	float: left;
	font-size: 20px;
	font-weight: bolder;
	margin: 7px 0 0 8px;
}
.wrapper_container_publication {
	background: #FFFFFF;
}
.image_publication {
	width: 230px;
	height: 118px;
	margin: 0 auto;
}
.wrapper_text_publication {
	height: 37px;
	background: url('/images/border_bottom_publication.png') no-repeat center bottom;
}
.text_publication {
	font-size: 12px;
	line-height: 16px;
	color: #58595B;
	padding: 1px 5px 8px 10px;
}
#arrow_publications {
	width: 15px;
	height: 30px;
	float: left;
	background: url('/images/flecha_barra_lateral.png') no-repeat;
	cursor: pointer;
}
/*Publicidad*/
.wrapper_sponsor {
	position: absolute;
	bottom: 50px;
	right: 20px;
	color: #FFFFFF;
	cursor: pointer;
}
.header_sponsor {
	width: 100%;
	height: 25px;
	background: #000000;
}
.title_header_sponsor {
	width: 70%;
	height: 100%;
	float: left;
	font: 16px Arial, serif;
}
.title_header_sponsor p {
	margin: 4px 0 0 5px;
}
.button_header_sponsor {
	width: 20px;
	height: 15px;
	float: right;
	background: url('/images/close_white.png') no-repeat;
	margin: 6px 1px 0 0;
}
