.wrapper_general_post_insert {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.wrapper_table_tools{
	width: 20%;
	height: 100%;
	float: left;
	padding-top: 20px;
}
.wrapper_post_insert{
	width: 79%;
	height: 100%;
	float: left;
	padding-top: 20px;
}
.wrapper_intern_table_tools{
	width: 90%;
	margin: 0 auto;
}
.wrapper_intern_post_insert{
	width: 97%;
	margin: 0 auto;
}
.input_style{
	border: solid 1px #CCC;
	outline: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Helvetica;
}
.title_table_tools{
	text-align: center;
	font-family: Helvetica;
	font-size: 20px;
	margin-top: 5px;
	color: black;
}
.wrapper_title_post{
	text-align: center;
}
.wrapper_title_post textarea{
	width: 80%;
	height: 35px;
	text-align: center;
	color: #CCC;
	font-size: 30px;
	resize: none;
}
.wrapper_images_post{
	width: 80%;
	min-height: 130px;
	margin: 10px auto 0;
	border: solid 1px #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.wrapper_images_post p{
	text-align: center;
	font-family: Helvetica;
	font-size: 20px;
	margin-top: 5px;
	color: #CCC;
}
.wrapper_content_post{
	width: 80%;
	min-height: 700px;
	margin: 10px auto;
	border: solid 1px #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.btn_add_post{
	width: 80%;
	height: 30px;
	display: block;
	margin: 10px auto 20px;
	font-family: Helvetica;
	font-size: 18px;
	cursor: pointer;
}
